<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap">
    <link rel="stylesheet" href="style.css">
    <title>Portfolio Front-end Developper</title>
</head>

<body>
    <div class="slider-thumb"></div>


    <header>
        <nav>
            <div class="left-links">
                <a  href="#about-all" data-text="Awesome" class="button">
                    <span class="actual-text">&nbsp;About&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;About&nbsp;</span>
                </a>
                <a href="#timeline" data-text="Awesome" class="button">
                    <span class="actual-text">&nbsp;parcours&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;parcours&nbsp;</span>
                </a>
                <a href="#projects" data-text="Awesome" class="button">
                    <span class="actual-text">&nbsp;Projets&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Projets&nbsp;</span>
                </a>
                <a href="#contact" data-text="Awesome" class="button">
                    <span class="actual-text">&nbsp;Contact&nbsp;</span>
                    <span class="hover-text" aria-hidden="true">&nbsp;Contact&nbsp;</span>
                </a>
            </div>

            <div class="right-links">
                <button class="btn1">
                    <svg viewBox="0 0 16 16" class="bi bi-linkedin" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                    </svg>
                    <span>Linked-In</span>
                </button>
                <button class="btn2">
                    <svg viewBox="0 0 16 16" class="bi bi-github" fill="currentColor" height="18" width="18" xmlns="http://www.w3.org/2000/svg">
                        <path d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"></path>
                    </svg>
                    <span>GitHub</span>
                </button>
            </div>
        </nav>
    </header>

    <main>
        <div class="presentation">
            <h1>Arthur Méry</h1>
            <h3>Développeur</h3>
        </div>
    
        <section id="about-all">
            <section id="about">
                <h2>À propos de moi</h2>
                <p>
                    Bonjour, je m'appelle Arthur Méry et je suis actuellement étudiant en deuxième année à l'EPSI de Bordeaux, 
                    une école d'informatique réputée pour son expertise et la qualité de ses formations. 
                    Passionné par l'univers du numérique et des technologies émergentes, je suis constamment à la recherche de nouvelles compétences à acquérir et de projets innovants sur lesquels travailler. 
                </p>
            </section>
                <br>
            <section id="hobbies">
                <h2>Mes centres d'intérêt</h2>
                <p>        
                    Mon intérêt pour les jeux vidéo a commencé dès mon plus jeune âge et ne cesse de croître depuis.
                    J'aime explorer différents genres de jeux et je suis particulièrement fasciné par l'aspect créatif et technique qui se cache derrière chaque titre.
                    Depuis que j'ai découvert les cryptomonnaies, j'ai été captivé par leur potentiel disruptif et les perspectives d'avenir qu'elles offrent. 
                    J'aime étudier les mécanismes et les technologies sous-jacentes, tels que la blockchain, pour mieux comprendre comment elles transforment le paysage financier et numérique. 
                    Récemment, je me suis plongé dans l'univers passionnant du Web3, qui englobe des concepts tels que la décentralisation et les smart contrats. 
                    Je suis convaincu que cette nouvelle approche du web ouvre la voie à des expériences numériques sans précédent et à une plus grande autonomie pour les utilisateurs.
                </p>
            </section>
        </section>
        <section id="parcours">
            <h2>Mon parcours</h2>

            <div class="container">
                <div class="rightbox">
                    <div class="rb-container">
                        <ul class="rb">
                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                    3rd May 2020<br> 7:00 PM
                                </div>
                                <div class="item-title">Chris Serrano posted a photo on your wall.</div>
                            </li>
                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                    19th May 2020<br> 3:00 PM
                                </div>
                                <div class="item-title">Mia Redwood commented on your last post.</div>
                            
                            </li>
                
                            <li class="rb-item" ng-repeat="itembx">
                                <div class="timestamp">
                                17st June 2020<br> 7:00 PM
                                </div>
                                <div class="item-title">Lucas McAlister just send you a message.</div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>

        </section>

        <section id="skills">
            <h2>Compétences</h2>

        </section>

        <section id="projects">
            <h2>Projets</h2>
            <div class="projet">
                <h3>Projet 1</h3>
                <p>Description du projet 1.</p>
            </div>
            <div class="projet">
                <h3>Projet 2</h3>
                <p>Description du projet 2.</p>
            </div>
            <div class="projet">
                <h3>Projet 3</h3>
                <p>Description du projet 3.</p>
            </div>
        </section>

        <section id="contact">
            <h2>Contact</h2>
            <p>
                Si vous souhaitez me contacter, n'hésitez pas à m'envoyer un e-mail à <a href="arthurmery08@gmail.com">arthurmery08@gmail.com</a>.
            </p>
        </section>
    </main> 
    <footer>

        <p>Copyright © 2023 arthur-mery.fr / by arthurmry</p>

    </footer>


</body>

</html>
