* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  line-height: 1.6;
  color: #000000;
  background-color: #f4f4f4;
  height: 100vh;
  background: linear-gradient(90deg,#000000,#727272);

}

header {
  background-color: transparent;
  padding: 2rem;
  position: fixed;
  width: 100vw;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-links,
.right-links {
  display: flex;
}

.left-links a,
.right-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  transition: color 0.3s;
}

.left-links a:hover {
  color: #ccc;
}

section {
  max-width: 1200px;
  margin-left: 50px;
  margin-top: 300px;

}
#projets,
#contact {
  margin-top: 2rem;
}

h2 {
  margin-bottom: 1.5rem;
  font-size: 38px;
  color: #ffff;
  border-bottom: 2px solid #ffff;
  padding-bottom: 0.5rem;
}

.projet {
  margin-bottom: 1rem;
  background-color: #fff;
  padding: 1.5rem;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.projet h3 {
  font-size: 24px;
  margin-bottom: 1rem;
}

.projet p {
  font-size: 16px;
}

.presentation{
  padding-top: 300px;
}

.presentation h1{
  font-size: 150px;
  text-align: center;
  color: #50d890;
}

.presentation h3{
  font-size: 40px;
  text-align: center;
  color: #37ff8b;
}

.title-header{
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  align-items:center;
}

.slider {
  position: fixed;
  top: 10px;
  right: 20px;
  width: 150px;
  color: white;
  font-family: sans-serif;
  text-align: center;
}
.slider input {
  width: 100%;
  margin-bottom: 5px;
}


.slider-thumb::before {
  align-items: center;
  position: fixed;
  content: "";
  left: 40%;
  top: 20%;
  width: 450px;
  height: 450px;
  background: #000000;
  border-radius: 62% 47% 82% 35% / 45% 45% 80% 66%;
  will-change: border-radius, transform, opacity;
  animation: sliderShape 5s linear infinite;
  display: block;
  z-index: -1;
  -webkit-animation: sliderShape 5s linear infinite;
}
@keyframes sliderShape{
  0%,100%{
  border-radius: 42% 58% 70% 30% / 45% 45% 55% 55%;
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  34%{
      border-radius: 70% 30% 46% 54% / 30% 29% 71% 70%;
    transform:  translate3d(0,5px,0) rotateZ(0.01deg);
  }
  50%{
    transform: translate3d(0,0,0) rotateZ(0.01deg);
  }
  67%{
    border-radius: 100% 60% 60% 100% / 100% 100% 60% 60% ;
    transform: translate3d(0,-3px,0) rotateZ(0.01deg);
  }
}

button{
  margin: 10px;
  background: transparent;
  position: relative;
  padding: 5px 15px;
  display: flex;
  align-items: center;
  font-size: 17px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 25px;
  outline: none;
  overflow: hidden;
  color: rgb(255, 255, 255);
  transition: color 0.3s 0.1s ease-out;
  text-align: center;
}

button span {
  margin: 10px;
}

button::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  content: '';
  border-radius: 50%;
  display: block;
  width: 20em;
  height: 20em;
  left: -5em;
  text-align: center;
  transition: box-shadow 0.5s ease-out;
  z-index: -1;
}

button:hover {
  color: #37ff8b;
  border: 1px solid rgb(0, 0, 0);
}

button:hover::before {
  box-shadow: inset 0 0 0 10em rgb(0, 0, 0);
}

/* === removing default button style ===*/
.button {
  margin: 0;
  height: auto;
  background: transparent;
  padding: 0;
  border: none;
}

/* button styling */
.button {
  --border-right: 3px;
  --text-stroke-color: rgba(255,255,255,0.6);
  --animation-color: rgb(55, 255, 139);
  --fs-size: 1em;
  letter-spacing: 3px;
  text-decoration: none;
  font-size: var(--fs-size);
  font-family: "Arial";
  position: relative;
  text-transform: uppercase;
  color: transparent;
  -webkit-text-stroke: 1px var(--text-stroke-color);
}
/* this is the text, when you hover on button */
.hover-text {
  position: absolute;
  box-sizing: border-box;
  content: attr(data-text);
  color: var(--animation-color);
  width: 0%;
  inset: 0;
  border-right: var(--border-right) solid var(--animation-color);
  overflow: hidden;
  transition: 0.5s;
  -webkit-text-stroke: 1px var(--animation-color);
}
/* hover */
.button:hover .hover-text {
  width: 100%;
  filter: drop-shadow(0 0 23px var(--animation-color))
}

@import url("https://fonts.googleapis.com/css2?family=PT+Sans&display=swap");


.container {
  width: 540px;
  height: 500px;
  margin: 0 auto;
  position: relative;
  margin-top: 10%;
}


.rightbox {
  padding: 0em 34rem 0em 0em;
  height: 100%;
}

.rb-container {
  font-family: "PT Sans", sans-serif;
  width: 50%;
  margin: auto;
  display: block;
  position: relative;
}

.rb-container ul.rb {
  margin: 2.5em 0;
  padding: 0;
  display: inline-block;
}

.rb-container ul.rb li {
  list-style: none;
  margin: auto;
  margin-left: 10em;
  min-height: 50px;
  border-left: 1px dashed #fff;
  padding: 0 0 50px 30px;
  position: relative;
}

.rb-container ul.rb li:last-child {
  border-left: 0;
}

.rb-container ul.rb li::before {
  position: absolute;
  left: -18px;
  top: -5px;
  content: " ";
  border: 8px solid rgba(255, 255, 255, 1);
  border-radius: 500%;
  background: #50d890;
  height: 20px;
  width: 20px;
  transition: all 500ms ease-in-out;
}

.rb-container ul.rb li:hover::before {
  border-color: #232931;
  transition: all 1000ms ease-in-out;
}

ul.rb li .timestamp {
  color: #50d890;
  position: relative;
  width: 100px;
  font-size: 12px;
}

.item-title {
  color: #fff;
}

.container-3 {
  width: 5em;
  vertical-align: right;
  white-space: nowrap;
  position: absolute;
}


.social-links,.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.social-btn {
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #ffffff;
  border-radius: 50px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: #212121;
  margin: 5px;
  transition: 0.3s;
  justify-content: center;
}

.social-btn svg {
  height: 24px;
  width: 24px;
}

.social-btn span {
  width: 0px;
  overflow: hidden;
  transition: 0.3s;
  text-align: center;
}

.social-btn:hover {
  width: 200px;
  border-radius: 60px;
}

.social-btn:hover span {
  width: 120px;
}


#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #fffcfc;
}

.card1 {
  align-items:flex-start;
  width: 40%;
  height: 300px;
  background: rgb(21, 21, 21);
  box-shadow: #37ff8b 0px 2px 4px, #37ff8b 0px 7px 13px -3px, #50d890 5px -3px 0px inset;
  border-radius: 50px;
}

.about{
  margin-left: 5%;
}