*{
    padding: 0;
    margin: 0;
}

.header{
    background-color: red;
    padding-top: 20px;
    position: relative;
}

.container-h{
    display: flex;
    position: absolute;
    text-align: right;  
    justify-content: space-between;
    
}